
#page
 { 
 	background-color: BlanchedAlmond;
 }
  
	img {
		display: block;
		width: 40%;
		margin: auto;
	  }

	#prueba {
		color:blue;
	}
	#anillo {
		color:darkgray

	}
	#abrazo {
		color:purple
	}